@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (hover: hover) and (pointer: fine) {
    * {
      cursor: none !important;
    }
  }
  body {
    @apply bg-background text-on-background antialiased min-h-screen flex flex-col selection:bg-primary-container selection:text-on-primary-container overflow-x-hidden;
  }
}

@layer utilities {
  /* Custom Scanline Overlay Effect */
  .effect-scanlines {
      position: relative;
  }
  .effect-scanlines::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
          to bottom,
          rgba(255,255,255,0),
          rgba(255,255,255,0) 50%,
          rgba(0,0,0,0.02) 50%,
          rgba(0,0,0,0.02)
      );
      background-size: 100% 4px;
      z-index: 10;
      pointer-events: none;
      animation: scanlines 10s linear infinite;
  }

  @keyframes scanlines {
    0% { background-position: 0 0; }
    100% { background-position: 0 100vh; }
  }

  /* Some pages use .light class on html */
  html.light {
    color-scheme: light;
  }
}
